@CHARSET "UTF-8";

.total_btn{
	z-index: 131 !important;
}
#totalmenu_bg{
	z-index: 130 !important;
	background-image: url(../images/common/total_bg-fall.png);
}

/* Spring */
body.season-spring #header{
	background: none;
}
body.season-spring #wrapper {
    background-image: url('../images/season/spring-topbg.png');
}
body.season-spring #navi {
    width: 800px;
    padding-right: 200px;
    z-index: 100;
}
body.season-spring #navi ul {
    padding-left: 0;
}
body.season-spring #navi ul>li>a {
	display: inline-block;
	padding: 0 30px;
}
body.season-spring #navi ul>li>a>img {
}
body.season-spring #mtitle_inwrap{
	background-image: url('../images/season/spring-mtitle_bg.jpg');
}
body.season-spring #header_fix .ico{
	position: absolute;
	right: 0;
	bottom: -4px;
	display: inline-block;
	width: 230px;
	height: 87px;
	background-repeat: no-repeat;
	background-image: url('../images/season/spring-ico.png');
	background-position: 100% 100%;
}
body.season-spring #topsearch{
	background-image: url('../images/common/search_imgbg-spring.png');
}
body.season-spring ul.pagerContainer li a.active{
	background-image: url("../images/popzone_circle_on_spring.png");
}

/* Summer */
body.season-summer #header{
	background: none;
}
body.season-summer #wrapper {
    background-image: url('../images/season/summer-topbg.png');
}
body.season-summer #navi {
    width: 800px;
    padding-right: 200px;
    z-index: 100;
}
body.season-summer #navi ul {
    padding-left: 0;
}
body.season-summer #navi ul>li>a {
	display: inline-block;
	padding: 0 30px;
}
body.season-summer #navi ul>li>a>img {
}
body.season-summer #mtitle_inwrap{
	background-image: url('../images/season/summer-mtitle_bg.jpg');
}
body.season-summer #header_fix .ico{
	position: absolute;
	right: 0;
	bottom: -1px;
	display: inline-block;
	width: 230px;
	height: 87px;
	background-repeat: no-repeat;
	background-image: url('../images/season/summer-ico.png');
	background-position: 100% 100%;
}
body.season-summer #topsearch{
	background-image: url('../images/common/search_imgbg-summer.png');
}
body.season-summer ul.pagerContainer li a.active{
	background-image: url("../images/popzone_circle_on_summer.png");
}

/* fall */
body.season-fall #totalmenu_bg{
	background-image: url(../images/common/total_bg-fall.png);
}
body.season-fall .totalmenu_title{
	background-color: #eeab18;
}
body.season-fall #header{
	background: none;
}
body.season-fall #wrapper {
    background-image: url('../images/season/fall-topbg.png');
}
body.season-fall #navi {
    width: 800px;
    padding-right: 200px;
    z-index: 100;
}
body.season-fall #navi ul {
    padding-left: 0;
}
body.season-fall .navi4_2depth{
    background-color: rgba(255,255,255,0.7);
}
body.season-fall #navi ul>li>a {
	display: inline-block;
	padding: 0 30px;
}
body.season-fall #navi ul>li>a>img {
}
body.season-fall #navi ul li ul li span a {
	color: #333;
}
body.season-fall #mtitle_inwrap{
	background-image: url('../images/season/fall-mtitle_bg.jpg');
}
body.season-fall #header_fix .ico{
	position: absolute;
	right: 0;
	bottom: -4px;
	display: inline-block;
	width: 230px;
	height: 87px;
	background-repeat: no-repeat;
	background-image: url('../images/season/fall-ico.png');
	background-position: 100% 100%;
}
body.season-fall #topsearch{
	background-image: url('../images/common/search_imgbg-fall.png');
}
body.season-fall ul.pagerContainer li a.active{
	background-image: url("../images/popzone_circle_on_fall.png");
}


/* fall22 */
body.season-fall2 #totalmenu_bg{
	background-image: url(../images/common/total_bg-fall.png);
}
body.season-fall2 .totalmenu_title{
	background-color: #eeab18;
}
body.season-fall2 #header{
	background: none;
}
body.season-fall2 #wrapper {
    background-image: url('../images/season/fall-topbg.png');
}
body.season-fall2 #navi {
    width: 800px;
    padding-right: 200px;
    z-index: 100;
}
body.season-fall2 #navi ul {
    padding-left: 0;
}
body.season-fall2 .navi4_2depth{
    background-color: rgba(255,255,255,0.7);
}
body.season-fall2 #navi ul>li>a {
	display: inline-block;
	padding: 0 30px;
}
body.season-fall2 #navi ul>li>a>img {
}
body.season-fall2 #navi ul li ul li span a {
	color: #333;
}
body.season-fall2 #mtitle_inwrap{
	background-image: url('../images/season/fall2-mtitle_bg.jpg');
}
body.season-fall2 #header_fix .ico{
	position: absolute;
	right: 0;
	bottom: -4px;
	display: inline-block;
	width: 230px;
	height: 87px;
	background-repeat: no-repeat;
	background-image: url('../images/season/fall2-ico.png');
	background-position: 100% 100%;
}
body.season-fall2 #topsearch{
	background-image: url('../images/common/search_imgbg-fall.png');
}
body.season-fall2 ul.pagerContainer li a.active{
	background-image: url("../images/popzone_circle_on_fall.png");
}


/* winter */
body.season-winter #totalmenu_bg{
	background-image: url(../images/common/total_bg-winter.png);
}
body.season-winter .totalmenu_title{
	background-color: #7295b9;
}
body.season-winter #header{
	background: none;
}
body.season-winter #wrapper {
    background-image: url('../images/season/winter-topbg.png');
}
body.season-winter #navi {
    width: 800px;
    padding-right: 200px;
    z-index: 100;
}
body.season-winter #navi ul {
    padding-left: 0;
}
body.season-winter .navi4_2depth{
    background-color: rgba(255,255,255,0.7);
}
body.season-winter #navi ul>li>a {
	display: inline-block;
	padding: 0 30px;
}
body.season-winter #navi ul>li>a>img {
}
body.season-winter #navi ul li ul li span a {
	color: #333;
}
body.season-winter #mtitle_inwrap{
	background-image: url('../images/season/winter-mtitle_bg.jpg');
}
body.season-winter #header_fix .ico{
	position: absolute;
	right: 0;
	bottom: -4px;
	display: inline-block;
	width: 230px;
	height: 87px;
	background-repeat: no-repeat;
	background-image: url('../images/season/winter-ico.png');
	background-position: 100% 100%;
}
body.season-winter #topsearch{
	background-image: url('../images/common/search_imgbg-winter.png');
}
body.season-winter ul.pagerContainer li a.active{
	background-image: url("../images/popzone_circle_on_winter.png");
}
